<!DOCTYPE html>
<html lang="pt-br"  ng-app="finances">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>Finances</title>

	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/jquery/dist/jquery.min.js"></script>
	<script src="lib/Materialize/dist/js/materialize.min.js"></script>
	<script src="lib/zingchart/zingchart.min.js"></script>
	<script src="lib/zingchart-angularjs/zingchart-angularjs.js"></script>

	<link href="lib/Materialize/dist/css/materialize.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="js/app.js"></script>
</head>
<body>
	<nav>
		<div class="nav-wrapper teal lighten-2">
			<div class="brand-logo center"></div>
		</div>
	</nav>
	
	      <ul class="tabs teal lighten-2">
	        <li class="tab col s3"><a href="#main">Test 1</a></li>
	        <li class="tab col s3"><a class="active" href="#graficos">Test 2</a></li>
	      </ul>
	   
	    <div id="main" class="col s12">
			<form action="#!" ng-controller="main">
				<div class="row">
					<div class="input-field col s12">
						<select class="browser-default" name="tipo" id="tipo" ng-model="data.tipo" ng-options="tipo for tipo in tipos">
							<option value="" disabled selected>Tipo de Despesa</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
			          <input id="valor" type="number" class="validate" ng-model="data.valor">
			          <label for="valor">Valor da Compra</label>
			        </div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<a ng-click="postApi(data)" class="waves-effect waves-light btn-large" style="width:100%">Enviar</a>
					</div>
				</div>
			</form>
	    </div>
	    <div id="graficos" class="col s12" ng-controller="graficos">
			<div class="row">
				<div class="col s12">
					<zingchart id="resumo" zc-json="resumoData" zc-width="100%" zc-height="400px"> </zingchart>
				</div>
			</div>
	    </div>

	<script>
		$(document).ready(function(){
		    $('select').material_select();
		    $('ul.tabs').tabs();
		  });
	</script>
</body>
</html>